.search-input {
    margin: 10px;
    width: 10%;
    height: 27px;
    border-radius: 11px;
    font-size: 20px;
    padding: 0 10px;
    margin-right: 40px;
  }

  .search-btn {
    margin: 10px;
    width: 10%;
    height: 40px;
    border-radius: 11px;
    font-size: 20px;
    padding: 0 10px;
    margin-right: 35px;
  }